{% extends "base.html" %}
{% block start %}

<div class="container">

    <form method="post">
        {% csrf_token %}
        {% for question in questions %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ question.question }}</span>
                <div class="input-field">

                    {% if question.question_type == 'Text' %}
                    <input type="text" required name="response_{{ question.id }}" id="question_{{ question.id }}">
                    {% elif question.question_type == 'BigText' %}
                    <textarea required name="response_{{ question.id }}" id="question_{{ question.id }}" class="materialize-textarea"></textarea>
                    {% elif question.question_type == 'Radio' %}
                    {% for option in question.options.all %}
                    <p>
                        <label>
                            <input required type="radio" name="options_{{ question.id }}" value="{{ option.id }}" />
                            <span>{{ option.option_name }}</span>
                        </label>
                    </p>
                    {% endfor %}
                    {% elif question.question_type == 'Checkbox' %}
                    {% for option in question.options.all %}
                    <p>
                        <label>
                            <input  type="checkbox" name="options_{{ question.id }}" value="{{ option.id }}" />
                            <span>{{ option.option_name }}</span>
                        </label>
                    </p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        {% endfor %}
        <div class="center-align">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
        </div>
    </form>


</div>

{% endblock %}